<div id="welcome" class="post">
	<h2 class="title"><%= blog_entry.title %></h2>
	<h3 class="date"><span class="month"><%= blog_entry.created_at.month %></span> <span class="day"> <%= blog_entry.created_at.day %></span><span class="year"> <%= blog_entry.created_at.year %></span></h3>
	<div class="story">
		<p><%= blog_entry.description %></p>
	</div>
</div>



